@media only screen and (max-width: 1064px){
.dino{
    position: absolute;
    left: 0px;
}
.notice{
    font-size: 30px;
    margin-left:-37px
}
.dino img{
    height: 15vh;
}
.dragon img{
    height: 15vh;
}
}
@media only screen and (max-width:814px){
    @keyframes dino1{
        0%{
            bottom: 0px;
        }
        50%{
            bottom: 300px;
        }
        100%{
            bottom: 0px;
        }
    }
    .animation{
        animation: dragon1 1.5s linear infinite;
    }
    .dino-animate{
        animation: dino1 0.9s linear infinite  ;
    }
    .dino img{
        height: 13vh;
    }
    .dragon img{
        height: 13vh;
    }
    .notice{
        font-size: 23px;
        margin-left: -150px;
    }
    .score-design{
        margin-top: 10px;
        margin-left: 50px;
    }
    .name{
        margin-left: 20px;
        margin-top: -20px;
    }
}
@media only screen and (max-width:653px){
    .animation{
        animation: dragon1 1.5s linear infinite;
    }
    .dino-animate{
        animation: dino1 0.9s linear infinite  ;
    }
    .dino img{
        height: 11.5vh;
    }
    .dragon img{
        height: 11.5vh;
    } 
    @keyframes dino1{
        0%{
            bottom: 0px;
        }
        50%{
            bottom: 270px;
        }
        100%{
            bottom: 0px;
        }
    }
}
@media only screen and (max-width:567px){
    .dino img{
        height: 9vh;
    }
    .dragon img{
        height: 9vh;
    } 
    .notice{
        font-size: 18px;
    }
}
@media only screen and (max-width:500px){
    .animation{
        animation: dragon1 1.5s linear infinite ease-in;
    }
    .dino-animate{
        animation: dino1 0.9s linear infinite  ;
    }
    @keyframes dino1{
        0%{
            bottom: 0px;
        }
        50%{
            bottom: 250px;
        }
        100%{
            bottom: 0px;
        }
    }
   .notice{
    margin-left: -110px;
    font-size: 15px;
   } 
   .score-design{
    margin-top: 6px;
    margin-left: 50px;
}
.name{
    margin-left: 20px;
    margin-top: -15px;
}
 
.scoreboard{
    text-transform: capitalize;
    border: 2px solid black;
    display: inline-block;
    padding: 4px;
    /* right: -27%; */
    position: absolute;
    right: 4px;
    height: 26px;
    top: 5%;
    font-size: 13.5px;
    width: 95px;
}
}
@media only screen and (max-width:400px){
    @keyframes dino1{
        0%{
            bottom: 0px;
        }
        50%{
            bottom: 200px;
        }
        100%{
            bottom: 0px;
        }
    }
    .animation{
        animation: dragon1 1.8s linear infinite;
    }
    .dino-animate{
        animation: dino1 1.2s linear infinite  ;
    }
}